body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, #fff, #b0c3a4);
}
/*--- navigation bar ---*/
.navbar {
  background: linear-gradient(to right, #fff, #b0c3a4);
  padding-left: 20px;
}
.nav-link,
.navbar-brand {
  color: #627329 !important;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #323a2b;
  text-decoration: underline;
}
.navbar-collapse {
  justify-content: flex-end;
}
#current {
  color: #326c05;
  text-decoration: underline;
}
.header {
  height: 970px;
  background-image: url("../images/alfonso-navarro-qph7tJfcDys-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
/* CSS-стили для карусели */
.carousel-item {
  width: 100%; /* Занимать всю доступную ширину контейнера */
  height: 700px; /* Автоматически рассчитывать высоту на основе ширины и соотношения сторон изображения */
  overflow: hidden; /* Обрезание изображения, которое выходит за пределы размеров слайда */
}
.carousel-inner {
  margin: 0;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/*Video*/
#myCarousel .carousel-inner {
    width: 100%;
    height: 75vh; /* Это устанавливает высоту слайдера на всю высоту экрана */
    overflow: hidden;
}
#myCarousel .carousel-item {
    width: 100%;
    height: 100%;
}
#myCarousel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Стили для первого блока - заголовок и текст */
.col-md-6:nth-child(1) {
  background-color: #f5f5f5; /* Цвет фона */
  padding: 20px;
  border-radius: 10px;
}
.col-md-12 {
  background-color: #f5f5f5; /* Цвет фона */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px; /* Отступ сверху */
}
/* Стили для второго блока - контейнер с фотографией */
.col-md-6:nth-child(2) {
  text-align: center; /* Выравнивание содержимого по центру */
}
/* Стили для текста заголовка */
.container h1 {
  font-size: 50px;
  margin-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  padding: 50px 0 50px auto;
  color:#627329;
}
/* Стили для текста описания */
.container p {
  font-size: 24px;
  padding: 50px 30px;
  padding-bottom: 90px;
  margin-left: 40px;
}
.btn.btn-primary {
  align-items: center;
  background-color: #627329;
  border-radius: 30px;
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; 
  margin: 0 100px;
  height: 50px;
  font-size: 20px;
  border-color: #627329;
}
.btn.btn-primary:hover{
  background-color: #fff;
  color: #627329;
  border-color: #627329;
}
.btn-read-more {
  margin-top: 20px; /* Увеличьте отступ сверху для кнопки "Read more" */
}
/*блок с What We Recycle */
/* Стили для круглых фотографий */
.rounded-circle-img {
  width: 350px; /* Задайте желаемую ширину и высоту для контейнера круглых фотографий */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-radius: 50%;
  overflow: hidden; /* Обрезаем изображение, чтобы оно заполнило всю область круга */
  margin-bottom: 40px; 
}
.rounded-circle-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.rounded-circle-img img {
  width: 100%; /* Заполните 100% ширины и высоты контейнера */
  height: 100%;
  object-fit: cover; 
}
/* Стили для центрирования заголовков и кнопок */
.text-center-block {
  text-align: center;
}
.container-fluid {
  margin-bottom: 100px;
  background-color: none;
  background: linear-gradient(to right, #fff, #b0c3a4);
  padding-top: 50px;
}
.container.text-center.mt-5 {
  padding-bottom: 40px !important;
  
}
.container-fluid.my-5 h2 {
  text-align: center !important;
  color:#627329;
  font-size: 45px;
}
/* Центрирование кнопок "Book Collection" */
.btn-book-collection {
  margin: 40px auto !important;
  display: block !important;
  width: 200px;
}
/* Центрирование кнопки "Read more" */
.btn-read-more {
  margin: 0 auto !important;
  display: block !important;
  margin-top: 50px !important; /* Увеличьте отступ сверху для кнопки "Read more" */
  width: 200px;
}
/*все для блока "We not accept*/
.text-center {
  text-align: center;
}
/* Стили для заголовков */
.container.mt-5 h2 {
  margin-top: 20px;
  margin-bottom: 50px !important;
  color:#d91e21;
  font-size: 45px !important;
}
.container.mt-5 h3 {
  margin-bottom: 30px !important; 
}
/* Стили для изображений */
.img-fluid {
  display: block;
  margin: 0 auto;
}
/* Стили для блока Testimonials */
  .testimonials {
    padding: 20px;
    width: 100%; /* Установите ширину блока в 100% ширины экрана */
    max-width: none; /* Уберите ограничение максимальной ширины, если оно есть */
    margin: 50px;
    padding-bottom: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, #fff, #b0c3a4);
}
.testimonial-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333; /* Добавляем бордер к карточке */
    border-radius: 10px; /* Закругляем углы */
    background-color: #fff;
     /* Устанавливаем фоновый цвет карточки */   
}
.testimonials h2 {
    font-size: 45px !important;
    color: #627329;
    margin-top: 30px;
    padding-bottom: 20px;
}
/* Стили для текста внутри блока Testimonials */
.testimonial-card p {
    
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding-bottom: 50px;
    overflow: hidden;
}
.footer-logo img {
  padding-left: 50px;
  border-radius: 5px;
}
/* Убрать подчеркивание и изменить цвет при наведении на ссылки */
.links-menu ul li a {
    text-decoration: none;
    color: #333; /* Цвет ссылок по умолчанию */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
    font-size: 20px;
    margin-left: 75px;
  }
.links-menu ul li a:hover {
    color: #326c05;
    text-decoration: underline; /* Новый цвет при наведении */
}
/* Убрать маркеры списков */
.links-menu ul {
    list-style: none;
    padding: 0; /* Убрать внутренние отступы */  
  }
/* Создать равное расстояние между иконками социальных сетей */
.social {
    display: flex; /* Сделать контейнер flex-контейнером */
    justify-content: space-evenly; /* Равное распределение между элементами */  
  }
/* Выравнивание иконок по центру */
.social a {
    justify-items: center;
    padding: 20px 0;
}
/* Отступы от списков и соцсетей */
.links-menu ul,
.social {
    margin: 0; /* Убрать внешние отступы */
    padding: 0; /* Убрать внутренние отступы */
}
/* Стили для иконок социальных сетей */
.social a img {
    width: 30px; /* Задать ширину иконок */
    height: 30px; /* Задать высоту иконок */
}
.col-md-4.contact-us p {
 padding: 0;
 font-size: 18px;
}
/* Стили для новостного контейнера */
.news-container {
    width: 80%; /* Ширина блока меньше основного контейнера */
    margin: 0 auto; /* Центрирование блока */
}
/* Стили для новостного контейнера */
.news-container {
    width: 80%; /* Ширина блока меньше основного контейнера */
    margin: 0 auto; /* Центрирование блока */
}
/* Стили для новостных блоков */
.news-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.news-image {
    flex: 1;
    max-width: 25%; /* Ширина изображения - 1/4 блока */
}
.news-content {
    flex: 3; /* Остальная ширина блока */
    padding: 10px;
}
/* Стили для горизонтальной линии между блоками */
.news-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 20px 0;
}
/* Стили для изображений в новостных блоках */
.news-image {
    width: 200px; /* Фиксированная ширина блока для изображения */
    height: 200px; /* Фиксированная высота блока для изображения */
    display: inline-block; /* Позволяет элементам размещаться горизонтально */
    vertical-align: top; /* Размещение блоков в верхней части контейнера */
    margin-right: 10px; /* Расстояние между блоками */
    overflow: hidden; /* Обрезаем изображение, если оно больше блока */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
}
.news-image img {
    width: 100%; /* Масштабируем изображение по ширине блока */
    height: auto; /* Сохраняем соотношение сторон */
}
span {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}
.col-md-4.contact-us a
{
  color: #323a2b;
  font-weight: 600;
  text-decoration: none;
}
.col-md-4.contact-us P {
   margin-bottom: 10px;
   
}
/* Style for the "About Us" section */
.about-us {
    background-color: #f0f0f0;   
}
.about-us h1 {
  padding-top: 30px;
  margin-bottom: 30px;
}
.about-us p {
  padding-bottom: 50px
}
.simpleCardsContent_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-top: 70px;
  margin-bottom: 20px; /* Небольшие отступы между блоками */
}
.simpleCardsContent_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Расстояние между фотографией и текстом */
  text-align: left; /* Выравнивание текста по левому краю блока */
  border-radius: 20px;
  overflow: hidden;
}
.simpleCardsContent_img {
  width: 100%;
  padding-bottom: 75%; /* Сохранение пропорций изображений (4:3) */
  overflow: hidden;
  position: relative;
  margin-bottom: -20px; /* Небольшие отступы между блоками */
}
.simpleCardsContent_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заполнение всей площади изображения */
}
.simpleCardsContent_content {
  background-color: rgba(255, 255, 255, 0.9); /* Прозрачный белый фон для текстового блока */
  padding: 25px; /* Поля вокруг текстового блока */
  text-align: left; /* Выравнивание текста по левому краю блока */
  width: 80%; /* Ширина текстового блока чуть меньше блока с фотографией */
  margin-top: -50px; /* Для наложения текстового блока на фотографию */
  z-index: 2; /* Чтобы текст был над фотографией */
  align-items: center;
}
/*Block trust and resposible*/
.trusted-and-responsible {
    background-color: #f7f7f7;
    padding: 40px 0;
    margin-bottom: 30px;
}
.trusted-and-responsible .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.trusted-and-responsible .row {
    display: flex;
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}
.trusted-and-responsible .col-12 {
    flex: 0 0 auto; /* Оставить ширину элемента по его содержимому */
    margin: 10px; /* Небольшие отступы между изображениями */
}
.trusted-and-responsible img.trust-image {
    max-width: 100%; /* Гарантировать, что изображение не будет превышать ширину родительской колонки */
    height: auto; /* Поддерживать пропорции при изменении ширины */
    object-fit: cover; /* Заполнение всей области изображения */
    display: block; /* Убрать лишние промежутки вокруг изображения */
}
/*Block what we recycling */
.textWithImage {
    display: flex;
    align-items: center;
    padding: 40px 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
}
.textWithImage_container {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 150px;
    border-radius: 20px;
    background: linear-gradient(to right, #fff, #b0c3a4);
    /* Устанавливаем фиксированные размеры для блока */
    width: 1457px; /* Ширина блока */
    height: 441px; /* Высота блока */
}
.textWithImage_media {
    flex: 0 0 541px; /* Фиксированная ширина изображения */
    height: 334px; /* Высота изображения */
    overflow: hidden; /* Обрезаем изображение, если оно превышает размер контейнера */
}
.textWithImage_media img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполнение всей области изображения без искажений */
}
.textWithImage_text {
    flex: 1;
    max-width: 555px; /* Максимальная ширина текстового блока */
    padding: 0 20px;
    color: #627329; 
}
.textWithImage_title {
    font-size: 24px;
    margin-bottom: 10px;
}
.textWithImage_body {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.textWithImage_button {
  align-items: center;
  background-color: #627329;
  border-radius: 30px;
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; 
  margin: 0 100px;
  height: 50px;
  font-size: 20px;
  border-color: #627329;
  color: #fff;
}
.textWithImage_button:hover {
  background-color: #fff;
  color: #627329;
  text-decoration: none;
  font-weight: 600;
  border-color: 1px solid #627329;
}
/*Banner industrial*/
.banner {
    width: 100%;
    height: 250px; /* Установите желаемую высоту */
    overflow: hidden;
    margin-bottom: 30px;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезать изображение, сохраняя пропорции */
    display: block;
    
}

/* Чтобы адаптировать размер слайдов для мобильных устройств, добавьте медиа-запросы */
@media (max-width: 768px) {
  .carousel-item {
    width: 100%; /* Измените ширину слайдов для мобильных устройств */
    height: auto; /* Измените высоту слайдов для мобильных устройств */
  }
  .col-md-6 {
    width: 100%; /* Установите ширину блока на 100% на мобильных устройствах */
    margin-bottom: 20px;
  }
  .col-md-12 {
    padding: 10px; /* Уменьшение отступа на мобильных устройствах */
  }
  /* Дополнительные стили для мобильных устройств, если необходимо */
  .col-md-6:nth-child(1) {
    background-color: transparent; /* Уберите цвет фона на мобильных устройствах */
    padding: 10px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
   .rounded-circle-img {
    width: 100px; /* Уменьшите размер контейнера круглых фотографий */
    height: 100px;
  }

  h3 {
    font-size: 18px; /* Уменьшите размер шрифта для заголовков */
  }

  .btn-book-collection,
  .btn-read-more {
    font-size: 14px; /* Уменьшите размер шрифта для кнопок */
    padding: 8px 16px; /* Уменьшите отступы внутри кнопок */
    margin-top: 10px; /* Уменьшите отступ сверху для кнопок */
  }
}
